body{
    background-color: rgb(150, 150, 150);
}

#content{
    background: rgb(255, 235, 205);
    
    display: none;
   
    border: 3px rgb(63, 72, 204) solid;
    
    padding: 8px;
}

#content div img{
    margin: 5px;
}

img{
    border-radius: 25px;
}

#refresh{
    display: none;
}
