body{
    background-color: rgb(150, 150, 150);
}

#content{
<<<<<<< HEAD
    background: rgb(255, 235, 205);
=======
    background: blanchedalmond;
>>>>>>> bd71985d026c0a17f8969c213160df69e04f81a3
    
    display: none;
   
    border: 3px rgb(63, 72, 204) solid;
    
    padding: 8px;
}

#content div img{
    margin: 5px;
}

img{
    border-radius: 25px;
}

#refresh{
    display: none;
}
