body{
    background-color: #484f4d;
}

#content{
    background: blanchedalmond;
    display: none;
   
    border: 2px black solid;
    padding: 4px;
}

img{
    border: 1px black solid;
}